<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    
  </head>
  <body>
    <% name = "Grace" %>  <!-- defining a variable - evaluated in ruby-->
    <p><%= "Hello my name is #{name}." %></p>
  </body>
</html>